@font-face {
    font-family: "Aqua Grotesque";
    src: url(../font/aqua.ttf);
}

body {
    background-color: #EBF2F2;
}

.module6v5__container {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(20, 4rem);
}

h2 {
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 14;
}

.m6v5__h2__text-background {
    background-color: #D9D9D9;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 14;

}

.m6v5__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end: 21;
}

.m6v5__pic>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.m6v5__h2__text-background,
.m6v5__pic,
.m6v5__tile__1,
.m6v5__tile__2,
.m6v5__tile__3,
.m6v5__tile__4,
.m6v5__tile__5,
.m6v5__tile__6 {
    border: solid 5px #0d0d0d;
}


.m6v5__tile__2,
.m6v5__tile__3,
.m6v5__tile__5,
.m6v5__tile__6 {
    background-color: #2A4B8C;
}


.m6v5__tile__1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m6v5__tile__2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m6v5__tile__3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
}

.m6v5__tile__4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

.m6v5__tile__5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
}

.m6v5__tile__6 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
}