@font-face {
    font-family: "Aqua Grotesque";
    src: url(../font/aqua.ttf);
}

body {
    background-color: #EBF2F2;
}

.module3v1__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(16, 4rem);
}

.m3v1__module3__text,
.m3v1__h2__text-background,
.m3v1__tile__1,
.m3v1__pic__1,
.m3v1__pic__2 {
    border: solid 5px #0d0d0d;
}

.m3v1__h2__text-background,
.m3v1__tile__1 {
    background-color: #F2B807;
}

.m3v1__module3__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 17;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 4rem;
}


h2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
}


.m3v1__h2__text-background {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m3v1__tile__1 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m3v1__pic__1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;

}

.m3v1__pic__1>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m3v1__pic__2 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 17;

}


.m3v1__pic__2>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m3v1__contact {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 15;
    grid-row-end: 16;
    background-color: #0d0d0d;
    position: relative;

}

.m3v1__mail {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 15;
    grid-row-end: 16;
    color: #EBF2F2;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}