@font-face {
    font-family: "Aqua Grotesque";
    src: url(../font/aqua.ttf);
}

body {
    background-color: #EBF2F2;
}

.module2v8__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(9, 4rem);
}

.m2v8__module2__text,
.m2v8__h2__text-background,
.m2v8__tile__1,
.m2v8__pic {
    border: solid 5px #0d0d0d;
}

.m2v8__h2__text-background,
.m2v8__tile__1 {
    background-color: #D93611;
}

.m2v8__module2__text {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 10;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 4rem;
}


h2 {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
}


.m2v8__h2__text-background {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m2v8__tile__1 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m2v8__pic {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 10;

}

.m2v8__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m2v8__contact {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: #0d0d0d;
    position: relative;

}

.m2v8__mail {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
    color: #EBF2F2;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}