@font-face {
    font-family: "Aqua Grotesque";
    src: url(../font/aqua.ttf);
}

body {
    background-color: #EBF2F2;
}

.module1v1__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(14, 4rem);
}

.h1__text-background,
.pic,
.tile__1,
.tile__2,
.module1__text {
    border: solid 5px #0d0d0d;
}

h1 {
    font-family: "Aqua grotesque";
    font-size: 5.5rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 1rem;
}


.h1__text-background {
    background-color: #C4C4C4;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.pic {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 6;

}

.pic>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.tile__1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

.tile__2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.module1__text {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 6;
    grid-row-end: 15;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 4rem;
}