@font-face {
    font-family: "Aqua Grotesque";
    src: url(../font/aqua.ttf);
}

body {
    background-color: #EBF2F2;
}

.module6v2__container {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(20, 4rem);
}

h2 {
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m6v2__h2__text-background {
    background-color: #D9D9D9;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;

}

.m6v2__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 11;
}

.m6v2__pic>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.m6v2__h2__text-background,
.m6v2__pic,
.m6v2__tile__1,
.m6v2__tile__2,
.m6v2__tile__3,
.m6v2__tile__4,
.m6v2__tile__5,
.m6v2__tile__6,
.m6v2__tile__7 {
    border: solid 5px #0d0d0d;
}

.m6v2__tile__1,
.m6v2__tile__2,
.m6v2__tile__3 {
    background-color: #F2B807;
}

.m6v2__tile__7 {
    background-color: #D93611;
}

.m6v2__tile__1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 14;
}

.m6v2__tile__2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 14;
    grid-row-end: 16;
}

.m6v2__tile__3 {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 14;
    grid-row-end: 16;
}

.m6v2__tile__4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 16;
}

.m6v2__tile__5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 16;
    grid-row-end: 21;
}

.m6v2__tile__6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 16;
    grid-row-end: 19;
}

.m6v2__tile__7 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 19;
    grid-row-end: 21;
}