.nav__body {
    background-color: #EBF2F2;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-bottom: solid 5px #0d0d0d;
    margin: 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;

}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 0.25rem 1rem;
}

.nav__pic {
    width: 3.5rem;
    max-height: 2.5rem;
}

.nav__img {
    max-width: 4rem;
    max-height: 2.5rem;
}

.nav__museum-name {
    font-size: 0.75rem;
}

.nav__elements {
    display: flex;
}

.nav__element {
    margin: auto 1rem;
}