/* module 1v3 */
.module1v3__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(5, 4rem);
}

.m1v3__h1__text-background,
.m1v3__pic {
    border: solid 5px #0d0d0d;
}


h1 {
    font-family: "Aqua grotesque";
    font-size: 5.5rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 1rem;
}

.m1v3__h1__text-background {
    border-top: 0px;
    background-color: #C4C4C4;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.m1v3__pic {
    border-top: 0px;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 6;

}

.m1v3__pic>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

/* module 2v1 */
.module2v1__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(9, 4rem);
}

.m2v1__module2__text,
.m2v1__pic {
    border: solid 5px #0d0d0d;
}


.m2v1__module2__text {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 10;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 4rem;
}


h2 {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 4;
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
}


.m2v1__h2__text-background {
    border: solid 5px #0d0d0d;
    background-color: #2A4B8C;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m2v1__pic {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 4;
    grid-row-end: 10;

}

.m2v1__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}




/* module 3v3 */
.module3v3__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(10, 4rem);
}

.m3v3__module3__text,
.m3v3__h2__text-background,
.m3v3__pic {
    border: solid 5px #0d0d0d;
}

.m3v3__module3__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 11;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 4rem;
}


h2 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
}


.m3v3__h2__text-background {
    background-color: #F2B807;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}


.m3v3__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 11;

}

.m3v3__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* module 2v2 */
.module2v2__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(12, 4rem);
}

.m2v2__module2__text,
.m2v2__h2__text-background,
.m2v2__pic {
    border: solid 5px #0d0d0d;
}


.m2v2__module2__text {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 13;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 4rem;
}


h2 {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 5;
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
}


.m2v2__h2__text-background {
    background-color: #D93611;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m2v2__pic {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 5;
    grid-row-end: 13;

}

.m2v2__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}




/* module 3v4 */
.module3v4__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(9, 4rem);
}

.m3v4__module3__text,
.m3v4__h2__text-background,
.m3v4__tile__1,
.m3v4__pic {
    border: solid 5px #0d0d0d;
}

.m3v4__h2__text-background,
.m3v4__tile__1 {
    background-color: #2A4B8C;
}


.m3v4__module3__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 10;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 4rem;
}


h2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
}


.m3v4__h2__text-background {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m3v4__tile__1 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m3v4__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 10;

}

.m3v4__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* module 4 */
.module4__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(4, 4rem);
}

.m4__tile__1,
.m4__tile__2,
.m4__tile__3,
.m4__tile__4,
.m4__tile__5,
.m4__tile__6 {
    border: solid 5px #0d0d0d;
}


.m4__tile__1,
.m4__tile__4 {
    background-color: #2A4B8C;
}


.m4__tile__1 {
    border-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m4__tile__2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.m4__tile__3 {
    border-bottom: 0px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
}

.m4__tile__4 {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m4__tile__5 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m4__tile__6 {
    border-bottom: 0px;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 5;
}