@font-face {
    font-family: "Aqua Grotesque";
    src: url(../font/aqua.ttf);
}

body {
    background-color: #EBF2F2;
    margin: 0;
}


/* landing site */
.main__landing-site {
    display: grid;
    grid-template-columns: 1fr 32rem 32rem 1fr;
    grid-template-rows: auto;
}

.panel-left__landing-site {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-right: solid 5px #0d0d0d;
}

.panel-right__landing-site {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border-left: solid 5px #0d0d0d;
}

.landing-site__column__1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.landing-site__column__2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}


/* other sites - shared */
.main {
    display: grid;
    grid-template-columns: 1fr 64rem 1fr;
    grid-template-rows: auto;
}

.column {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.panel-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-right: solid 5px #0d0d0d;
}

.panel-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border-left: solid 5px #0d0d0d;
}







/* nav */
.nav__body {
    background-color: #EBF2F2;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-bottom: solid 10px #0d0d0d;
    margin: 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;

}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 0.25rem 1rem;
}

.nav__pic {
    width: 3.5rem;
    max-height: 2.5rem;
}

.nav__img {
    max-width: 4rem;
    max-height: 2.5rem;
}

.nav__museum-name {
    font-size: 0.75rem;
}

.nav__elements {
    display: flex;
}

.nav__element {
    margin: auto 1rem;
}




/* module 6v1 */
.module6v1__container {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(13, 4rem);
}

h1 {
    font-family: "Aqua grotesque";
    font-size: 5.5rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 1rem;
    margin-top: 0;
}

.m6v1__h1__text-background,
.m6v1__tile__1,
.m6v1__tile__2,
.m6v1__tile__3,
.m6v1__tile__4,
.m6v1__tile__5,
.m6v1__tile__6,
.m6v1__tile__7 {
    border: solid 5px #0d0d0d;
}

.m6v1__h1__text-background {
    border-top: 0px;
    background-color: #F2B807;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m6v1__tile__1,
.m6v1__tile__2 {
    background-color: #F2B807;
}

.m6v1__tile__5,
.m6v1__tile__6 {
    background-color: #D93611;
}

.m6v1__tile__1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
}

.m6v1__tile__2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
}

.m6v1__tile__3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 11;
}

.m6v1__tile__4 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
}

.m6v1__tile__5 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 11;
}

.m6v1__tile__6 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 11;
}

.m6v1__tile__7 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 14;
}




/* module 6v2 */
.module6v2__container {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(20, 4rem);
}

h2 {
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m6v2__h2__text-background {
    background-color: #D9D9D9;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;

}

.m6v2__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 11;
}

.m6v2__pic>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.m6v2__h2__text-background,
.m6v2__pic,
.m6v2__tile__1,
.m6v2__tile__2,
.m6v2__tile__3,
.m6v2__tile__4,
.m6v2__tile__5,
.m6v2__tile__6,
.m6v2__tile__7 {
    border: solid 5px #0d0d0d;
}

.m6v2__tile__1,
.m6v2__tile__2,
.m6v2__tile__3 {
    background-color: #F2B807;
}

.m6v2__tile__7 {
    background-color: #D93611;
}

.m6v2__tile__1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 14;
}

.m6v2__tile__2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 14;
    grid-row-end: 16;
}

.m6v2__tile__3 {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 14;
    grid-row-end: 16;
}

.m6v2__tile__4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 16;
}

.m6v2__tile__5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 16;
    grid-row-end: 21;
}

.m6v2__tile__6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 16;
    grid-row-end: 19;
}

.m6v2__tile__7 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 19;
    grid-row-end: 21;
}




/* module 6v3 */
.module6v3__container {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(19, 4rem);
}

h2 {
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m6v3__h2__text-background {
    background-color: #D9D9D9;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;

}

.m6v3__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 10;
}

.m6v3__pic>img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.m6v3__h2__text-background,
.m6v3__pic,
.m6v3__tile__1,
.m6v3__tile__2,
.m6v3__tile__3,
.m6v3__tile__4,
.m6v3__tile__5,
.m6v3__tile__6,
.m6v3__tile__7 {
    border: solid 5px #0d0d0d;
}


.m6v3__tile__2,
.m6v3__tile__3 {
    background-color: #2A4B8C;
}


.m6v3__tile__1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 14;
}

.m6v3__tile__2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 14;
}

.m6v3__tile__3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 14;
    grid-row-end: 18;
}

.m6v3__tile__4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end: 15;
}

.m6v3__tile__5 {
    border-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 18;
    grid-row-end: 20;
}

.m6v3__tile__6 {
    border-bottom: 0px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 15;
    grid-row-end: 20;
}



/* module 6v4 */
.module6v4__container {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(14, 4rem);
}

h2 {
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

.m6v4__h2__text-background {
    background-color: #D9D9D9;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;

}

.m6v4__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 15;
}

.m6v4__pic>img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.m6v4__h2__text-background,
.m6v4__pic,
.m6v4__tile__1,
.m6v4__tile__2,
.m6v4__tile__3 {
    border: solid 5px #0d0d0d;
}


.m6v4__tile__1 {
    border-top: 0px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}

.m6v4__tile__2 {
    border-top: 0px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m6v4__tile__3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}




/* module 6v5 */
.module6v5__container {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(20, 4rem);
}

h2 {
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 14;
}

.m6v5__h2__text-background {
    background-color: #D9D9D9;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 14;

}

.m6v5__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end: 21;
}

.m6v5__pic>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.m6v5__h2__text-background,
.m6v5__pic,
.m6v5__tile__1,
.m6v5__tile__2,
.m6v5__tile__3,
.m6v5__tile__4,
.m6v5__tile__5,
.m6v5__tile__6 {
    border: solid 5px #0d0d0d;
}


.m6v5__tile__2,
.m6v5__tile__3,
.m6v5__tile__5,
.m6v5__tile__6 {
    background-color: #2A4B8C;
}


.m6v5__tile__1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m6v5__tile__2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m6v5__tile__3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
}

.m6v5__tile__4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

.m6v5__tile__5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
}

.m6v5__tile__6 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
}



/* module 6v6 */
.module6v6__container {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(18, 4rem);
}

h2 {
    font-family: "Aqua grotesque";
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
    padding: 0.5rem;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 11;
}

.m6v6__h2__text-background {
    background-color: #D9D9D9;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 11;

}

.m6v6__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 17;
}

.m6v6__pic>img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.m6v6__h2__text-background,
.m6v6__pic,
.m6v6__tile__1,
.m6v6__tile__2,
.m6v6__tile__3,
.m6v6__tile__4,
.m6v6__tile__5,
.m6v6__tile__6,
.m6v6__tile__7,
.m6v6__tile__8,
.m6v6__tile__9 {
    border: solid 5px #0d0d0d;
}


.m6v6__tile__2,
.m6v6__tile__3 {
    background-color: #D93611;
}


.m6v6__tile__1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m6v6__tile__2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m6v6__tile__3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.m6v6__tile__4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.m6v6__tile__5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.m6v6__tile__6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
}

.m6v6__tile__7 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
}

.m6v6__tile__8 {
    border-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 17;
    grid-row-end: 19;
}

.m6v6__tile__9 {
    border-bottom: 0px;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 17;
    grid-row-end: 19;
}


/* footer */
.footer__body {
    background-color: #F2B807;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-top: solid 10px #0d0d0d;
    margin: 0;
    padding: 0.5rem auto;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: auto auto;

}

/*logo*/

.footer__logo {
    display: flex;
    align-items: center;
    margin: 0.25rem 1rem;
}

.footer__pic {
    width: 3.5rem;
    max-height: 2.5rem;
}

.footer__img {
    max-width: 4rem;
    max-height: 2.5rem;
}

.footer__museum-name {
    font-size: 0.75rem;
}

/*address and contact*/

.footer__element__address {
    text-align: center;
}

.footer__info {
    display: flex;
    margin: auto 2rem;
    text-align: center;
}

.footer__element {
    margin: auto 1rem;
}


/*social media*/

.footer__soc-media-elements {
    display: flex;
}

.footer__soc-media-element {
    width: 3.5rem;
    max-height: 2.5rem;
    margin: auto 0.25rem;
}

.footer__soc-media-logo {
    max-width: 4rem;
    max-height: 2.5rem;
}