@media (max-width: 640px) {

    .main__landing-site {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

    }



    .landing-site__column__1 {
        /* grid-column-start: 2;
    grid-column-end: 3; */
        grid-template-columns: repeat(8, 4rem);
        grid-template-rows: repeat(55, 4rem);
        width: 100%;
    }


    .module6v1__container {
        /* grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1; */
        grid-row-end: 7;
        /* display: grid;
    grid-template-columns: repeat(8, 4rem); */
        grid-template-rows: repeat(6, 4rem);
    }

    .module6v4__container {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 16;
        grid-template-rows: repeat(9, 4rem);
    }

    .m6v4__h2__text-background {
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .m6v4__pic {
        grid-row-start: 4;
        grid-row-end: 10;
    }

    .module6v2__container {
        grid-column-start: 1;
        /* grid-column-end: 9; */
        grid-row-start: 16;
        grid-row-end: 26;
        grid-template-rows: repeat(10, 4rem);
    }

    .module6v5__container {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 26;
        grid-row-end: 37;
        grid-template-rows: repeat(11, 4rem);
    }

    .m6v5__h2__text-background {
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .m6v5__pic {
        grid-row-start: 5;
        grid-row-end: 12;
    }

    .module6v3__container {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 37;
        grid-row-end: 46;
        grid-template-rows: repeat(9, 4rem);
    }

    .module6v6__container {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 46;
        grid-row-end: 55;
        grid-template-rows: repeat(9, 4rem);
    }

    .m6v6__h2__text-background {
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .m6v6__pic {
        grid-row-start: 4;
        grid-row-end: 13;
    }

    .panel-left__landing-site,
    .panel-right__landing-site,
    .m6v1__tile__3,
    .m6v1__tile__4,
    .m6v1__tile__5,
    .m6v1__tile__6,
    .m6v1__tile__7,
    .m6v4__tile__1,
    .m6v4__tile__2,
    .m6v4__tile__3,
    .m6v2__tile__1,
    .m6v2__tile__2,
    .m6v2__tile__3,
    .m6v2__tile__4,
    .m6v2__tile__5,
    .m6v2__tile__6,
    .m6v2__tile__7,
    .m6v5__tile__1,
    .m6v5__tile__2,
    .m6v5__tile__3,
    .m6v5__tile__4,
    .m6v5__tile__5,
    .m6v5__tile__6,
    .m6v3__tile__1,
    .m6v3__tile__2,
    .m6v3__tile__3,
    .m6v3__tile__4,
    .m6v3__tile__5,
    .m6v3__tile__6,
    .m6v6__tile__1,
    .m6v6__tile__2,
    .m6v6__tile__3,
    .m6v6__tile__4,
    .m6v6__tile__5,
    .m6v6__tile__6,
    .m6v6__tile__7,
    .m6v6__tile__8,
    .m6v6__tile__9 {
        display: none;
    }


}