.visit__column {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(52, var(--module-template__1));
}



/* module 1v4 */
.module1v4__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(5, var(--module-template__1));
}

.m1v4__h1__text-background,
.m1v4__pic,
.m1v4__tile__1,
.m1v4__tile__2 {
    border: solid 5px #0d0d0d;
}


.m1v4__h1__text-background,
.m1v4__tile__1 {
    border-left: solid 10px #0d0d0d;
}


.m1v4__pic {
    border-right: solid 10px #0d0d0d;
}

.m1v4__h1__text-background {
    position: relative;
    border-top: 0px;
    background-color: #C4C4C4;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m1v4__pic {
    border-top: 0px;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 6;

}

.m1v4__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m1v4__tile__1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

.m1v4__tile__2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}



/* module 2v5 */
.module2v5__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 6;
    grid-row-end: 12;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(6, var(--module-template__1));
}

.m2v5__text__bold {
    font-weight: bold;
}

.m2v5__module2__text,
.m2v5__h2__text-background,
.m2v5__pic {
    border: solid 5px #0d0d0d;
}

.m2v5__module2__text {
    border-left: solid 10px #0d0d0d;
}

.m2v5__h2__text-background,
.m2v5__pic {
    border-right: solid 10px #0d0d0d;
}


.m2v5__module2__text {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
    line-height: 2rem
}


.m2v5__h2__text-background {
    position: relative;
    background-color: #2A4B8C;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}


.m2v5__pic {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 7;

}

.m2v5__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* module 3v5 */
.module3v5__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 12;
    grid-row-end: 20;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(8, var(--module-template__1));
}

.m3v5__text__bold {
    font-weight: bold;
}


.m3v5__module3__text,
.m3v5__h2__text-background,
.m3v5__pic {
    border: solid 5px #0d0d0d;
}

.m3v5__h2__text-background,
.m3v5__pic {
    border-left: solid 10px #0d0d0d;
}

.m3v5__module3__text {
    border-right: solid 10px #0d0d0d;
}


.m3v5__module3__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 9;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}



.m3v5__h2__text-background {
    position: relative;
    background-color: #F2B807;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}


.m3v5__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 9;

}

.m3v5__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m3v5__contact {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: #0d0d0d;
    position: relative;

}

.m3v5__mail {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 7;
    grid-row-end: 8;
    color: #EBF2F2;
    font-size: clamp(2.5rem, 3vw, 3rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}


/* module 2v6 */
.module2v6__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 20;
    grid-row-end: 28;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(8, var(--module-template__1));
}

.m2v6__text__bold {
    font-weight: bold;
}

.m2v6__module2__text,
.m2v6__h2__text-background,
.m2v6__pic {
    border: solid 5px #0d0d0d;
}

.m2v6__module2__text {
    border-left: solid 10px #0d0d0d;
}

.m2v6__h2__text-background,
.m2v6__pic {
    border-right: solid 10px #0d0d0d;
}


.m2v6__module2__text {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
    line-height: 3rem
}


.m2v6__h2__text-background {
    position: relative;
    background-color: #D93611;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}


.m2v6__pic {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 9;

}

.m2v6__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* module 3v6 */
.module3v6__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 28;
    grid-row-end: 35;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(7, var(--module-template__1));
}

.m3v6__text__bold {
    font-weight: bold;
}

.m3v6__module3__text,
.m3v6__h2__text-background,
.m3v6__pic {
    border: solid 5px #0d0d0d;
}

.m3v6__h2__text-background,
.m3v6__pic {
    border-left: solid 10px #0d0d0d;
}

.m3v6__module3__text {
    border-right: solid 10px #0d0d0d;
}



.m3v6__module3__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 8;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}


.m3v6__h2__text-background {
    position: relative;
    background-color: #F2B807;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}


.m3v6__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 8;

}

.m3v6__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* module 2v7 */
.module2v7__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 35;
    grid-row-end: 42;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(7, var(--module-template__1));
}

.m2v7__module2__text,
.m2v7__h2__text-background,
.m2v7__pic {
    border: solid 5px #0d0d0d;
}

.m2v7__module2__text {
    border-left: solid 10px #0d0d0d;
}

.m2v7__h2__text-background,
.m2v7__pic {
    border-right: solid 10px #0d0d0d;
}

.m2v7__module2__text {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 8;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}


.m2v7__h2__text-background {
    position: relative;
    background-color: #2A4B8C;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}


.m2v7__pic {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 8;

}

.m2v7__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* module 3v7 */
.module3v7__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 42;
    grid-row-end: 49;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(7, var(--module-template__1));
}

.m3v7__module3__text,
.m3v7__h2__text-background,
.m3v7__pic {
    border: solid 5px #0d0d0d;
}

.m3v7__h2__text-background,
.m3v7__pic {
    border-left: solid 10px #0d0d0d;
}

.m3v7__module3__text {
    border-right: solid 10px #0d0d0d;
}


.m3v7__module3__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 8;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}


.m3v7__h2__text-background {
    position: relative;
    background-color: #D93611;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}


.m3v7__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 8;

}

.m3v7__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* module 4 */
.module4__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 49;
    grid-row-end: 53;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(4, var(--module-template__1));
}

.m4__tile__1,
.m4__tile__2,
.m4__tile__3,
.m4__tile__4,
.m4__tile__5,
.m4__tile__6 {
    border: solid 5px #0d0d0d;
}

.m4__tile__1 {
    border-left: solid 10px #0d0d0d;
}

.m4__tile__5,
.m4__tile__6 {
    border-right: solid 10px #0d0d0d;
}



.m4__tile__1,
.m4__tile__4 {
    background-color: #2A4B8C;
}


.m4__tile__1 {
    border-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m4__tile__2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.m4__tile__3 {
    border-bottom: 0px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
}

.m4__tile__4 {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m4__tile__5 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m4__tile__6 {
    border-bottom: 0px;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 5;
}