@media (max-width: 640px) {

    header,
    footer,
    .contact__column__1,
    .contact__column__3 {
        display: none;
    }

    body {
        padding: 0;

    }

    .contact__main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

    }
}