.explore__column {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(55, var(--module-template__1));
}



/* module 1v1 */

.module1v1__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 16;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(16, var(--module-template__1));
}

.m1v1__h1__text-background,
.m1v1__pic,
.m1v1__tile__1,
.m1v1__tile__2,
.m1v1__module1__text {
    border: solid 5px #0d0d0d;
}

.m1v1__h1__text-background,
.m1v1__tile__1,
.m1v1__module1__text {
    border-left: solid 10px #0d0d0d;
}

.m1v1__pic,
.m1v1__module1__text {
    border-right: solid 10px #0d0d0d;
}



.m1v1__h1__text-background {
    position: relative;
    border-top: 0px;
    background-color: #C4C4C4;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m1v1__pic {
    border-top: 0px;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 6;

}

.m1v1__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m1v1__tile__1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

.m1v1__tile__2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.m1v1__module1__text {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 6;
    grid-row-end: 17;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}

/* module 3v1 */
.module3v1__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 16;
    grid-row-end: 32;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(16, var(--module-template__1));
}

.m3v1__module3__text,
.m3v1__h2__text-background,
.m3v1__tile__1,
.m3v1__pic__1,
.m3v1__pic__2 {
    border: solid 5px #0d0d0d;
}

.m3v1__h2__text-background,
.m3v1__pic__1,
.m3v1__pic__2 {
    border-left: solid 10px #0d0d0d;
}

.m3v1__module3__text {
    border-right: solid 10px #0d0d0d;
}




.m3v1__h2__text-background,
.m3v1__tile__1 {
    background-color: #F2B807;
}

.m3v1__module3__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 17;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}

.m3v1__h2__text-background {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m3v1__tile__1 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m3v1__pic__1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;

}

.m3v1__pic__1>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m3v1__pic__2 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 17;

}


.m3v1__pic__2>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m3v1__contact {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 15;
    grid-row-end: 16;
    background-color: #0d0d0d;
    position: relative;

}

.m3v1__mail {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 15;
    grid-row-end: 16;
    color: #EBF2F2;
    font-size: clamp(2.5rem, 3vw, 3rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}



/* module 2v4 */
.module2v4__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 32;
    grid-row-end: 42;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(10, var(--module-template__1));
}

.m2v4__module2__text,
.m2v4__h2__text-background,
.m2v4__tile__1,
.m2v4__pic {
    border: solid 5px #0d0d0d;
}

.m2v4__module2__text {
    border-left: solid 10px #0d0d0d;
}

.m2v4__tile__1,
.m2v4__pic {
    border-right: solid 10px #0d0d0d;
}


.m2v4__h2__text-background,
.m2v4__tile__1 {
    background-color: #D93611;
}



.m2v4__module2__text {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 11;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}


.m2v4__h2__text-background {
    position: relative;
    grid-column-start: 9;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m2v4__tile__1 {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m2v4__pic {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 4;
    grid-row-end: 11;

}

.m2v4__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m2v4__contact {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 10;
    background-color: #0d0d0d;
    position: relative;

}

.m2v4__mail {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 10;
    color: #EBF2F2;
    font-size: clamp(2.5rem, 3vw, 3rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}


/* module 3v2 */
.module3v2__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 42;
    grid-row-end: 52;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(10, var(--module-template__1));
}

.m3v2__module3__text,
.m3v2__h2__text-background,
.m3v2__pic {
    border: solid 5px #0d0d0d;
}

.m3v2__h2__text-background,
.m3v2__pic {
    border-left: solid 10px #0d0d0d;
}

.m3v2__module3__text {
    border-right: solid 10px #0d0d0d;
}

.m3v2__module3__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 11;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}


.m3v2__h2__text-background {
    position: relative;
    background-color: #2A4B8C;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}


.m3v2__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 11;

}

.m3v2__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m3v2__contact {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 9;
    grid-row-end: 10;
    background-color: #0d0d0d;
    position: relative;

}

.m3v2__mail {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 9;
    grid-row-end: 10;
    color: #EBF2F2;
    font-size: clamp(2.5rem, 3vw, 3rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}



/* module 4 */
.module4__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 52;
    grid-row-end: 56;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(4, var(--module-template__1));
}

.m4__tile__1,
.m4__tile__2,
.m4__tile__3,
.m4__tile__4,
.m4__tile__5,
.m4__tile__6 {
    border: solid 5px #0d0d0d;
}

.m4__tile__1 {
    border-left: solid 10px #0d0d0d;
}

.m4__tile__5,
.m4__tile__6 {
    border-right: solid 10px #0d0d0d;
}


.m4__tile__1,
.m4__tile__4 {
    background-color: #2A4B8C;
}


.m4__tile__1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m4__tile__2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.m4__tile__3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
}

.m4__tile__4 {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m4__tile__5 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m4__tile__6 {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 5;
}