.get-involved__column {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(38, var(--module-template__1));
}


/* module 1v5 */
.module1v5__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(5, var(--module-template__1));
}

.m1v5__h1__text-background,
.m1v5__pic {
    border: solid 5px #0d0d0d;
}


.m1v5__h1__text-background {
    border-left: solid 10px #0d0d0d;
}

.m1v5__pic {
    border-right: solid 10px #0d0d0d;
}


.m1v5__h1__text-background {
    position: relative;
    border-top: 0px;
    background-color: #C4C4C4;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.m1v5__pic {
    border-top: 0px;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 6;

}

.m1v5__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* module 2v8 */
.module2v8__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 6;
    grid-row-end: 16;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(10, var(--module-template__1));
}

.m2v8__module2__text,
.m2v8__h2__text-background,
.m2v8__tile__1,
.m2v8__pic {
    border: solid 5px #0d0d0d;
}

.m2v8__module2__text {
    border-left: solid 10px #0d0d0d;
}

.m2v8__tile__1,
.m2v8__pic {
    border-right: solid 10px #0d0d0d;
}


.m2v8__h2__text-background,
.m2v8__tile__1 {
    background-color: #F2B807;
}

.m2v8__module2__text {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 11;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}


.m2v8__h2__text-background {
    position: relative;
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m2v8__tile__1 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m2v8__pic {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 11;

}

.m2v8__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m2v8__contact {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 10;
    background-color: #0d0d0d;
    position: relative;

}

.m2v8__mail {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 10;
    color: #EBF2F2;
    font-size: clamp(2.5rem, 3vw, 3rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}



/* module 3v8 */
.module3v8__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 16;
    grid-row-end: 27;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(11, var(--module-template__1));
}

.m3v8__module3__text,
.m3v8__h2__text-background,
.m3v8__pic {
    border: solid 5px #0d0d0d;
}

.m3v8__h2__text-background,
.m3v8__pic {
    border-left: solid 10px #0d0d0d;
}

.m3v8__module3__text {
    border-right: solid 10px #0d0d0d;
}



.m3v8__module3__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 12;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}


.m3v8__h2__text-background {
    position: relative;
    background-color: #D93611;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}


.m3v8__pic {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 12;

}

.m3v8__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m3v8__contact {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 10;
    grid-row-end: 11;
    background-color: #0d0d0d;
    position: relative;

}

.m3v8__mail {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 10;
    grid-row-end: 11;
    color: #EBF2F2;
    font-size: clamp(2.5rem, 3vw, 3rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}




/* module 2v9 */
.module2v9__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 27;
    grid-row-end: 35;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(8, var(--module-template__1));
}

.m2v9__module2__text,
.m2v9__h2__text-background,
.m2v9__pic {
    border: solid 5px #0d0d0d;
}

.m2v9__module2__text {
    border-left: solid 10px #0d0d0d;
}

.m2v9__h2__text-background,
.m2v9__pic {
    border-right: solid 10px #0d0d0d;
}



.m2v9__module2__text {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: min(1rem, 2rem) min(2rem, 4rem);
}


.m2v9__h2__text-background {
    position: relative;
    background-color: #2A4B8C;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}


.m2v9__pic {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 9;

}

.m2v9__pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m2v9__contact {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: #0d0d0d;
    position: relative;

}

.m2v9__mail {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 8;
    color: #EBF2F2;
    font-size: clamp(2.5rem, 3vw, 3rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}



/* module 4 */
.module4__container {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 35;
    grid-row-end: 39;
    display: grid;
    grid-template-columns: repeat(16, var(--module-template__1));
    grid-template-rows: repeat(4, var(--module-template__1));
}

.m4__tile__1,
.m4__tile__2,
.m4__tile__3,
.m4__tile__4,
.m4__tile__5,
.m4__tile__6 {
    border: solid 5px #0d0d0d;
}

.m4__tile__1 {
    border-left: solid 10px #0d0d0d;
}

.m4__tile__5,
.m4__tile__6 {
    border-right: solid 10px #0d0d0d;
}


.m4__tile__1,
.m4__tile__4 {
    background-color: #2A4B8C;
}


.m4__tile__1 {
    border-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m4__tile__2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.m4__tile__3 {
    border-bottom: 0px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
}

.m4__tile__4 {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m4__tile__5 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m4__tile__6 {
    border-bottom: 0px;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 5;
}