/* module 1v2 */
.module1v2__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(5, 4rem);
}

.m1v2__h1__text-background,
.m1v2__pic,
.m1v2__tile__1,
.m1v2__tile__2 {
    border: solid 5px #0d0d0d;
}

.m1v2__h1__text-background,
.m1v2__tile__1 {
    border-left: solid 10px #0d0d0d;
}

.m1v2__pic {
    border-right: solid 10px #0d0d0d;
}


.m1v2__h1__text-background {
    position: relative;
    border-top: 0px;
    background-color: #C4C4C4;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m1v2__pic {
    border-top: 0px;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 6;

}

.m1v2__pic>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.m1v2__tile__1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

.m1v2__tile__2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}




/* module 5v1 */
.module5v1__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(14, 4rem);
}

.m5v1__h2__text-background__1,
.m5v1__h2__text-background__2,
.m5v1__pic__1,
.m5v1__module5__text,
.m5v1__tile__1,
.m5v1__pic__2 {
    border: solid 5px #0d0d0d;
}

.m5v1__h2__text-background__1,
.m5v1__pic__1,
.m5v1__tile__1 {
    border-left: solid 10px #0d0d0d;
}

.m5v1__h2__text-background__2,
.m5v1__module5__text,
.m5v1__pic__2 {
    border-right: solid 10px #0d0d0d;
}





.m5v1__h2__text-background__1,
.m5v1__h2__text-background__2,
.m5v1__tile__1 {
    background-color: #F2B807;
}




.m5v1__h2__1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m5v1__h2__2 {
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 5;
}



.m5v1__h2__text-background__1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m5v1__h2__text-background__2 {
    position: relative;
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 5;
}


.m5v1__pic__1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 10;

}

.m5v1__pic__1>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m5v1__module5__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 5;
    grid-row-end: 10;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 4rem;
}

.m5v1__tile__1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 15;
}

.m5v1__pic__2 {
    grid-column-start: 3;
    grid-column-end: 17;
    grid-row-start: 10;
    grid-row-end: 15;

}

.m5v1__pic__2>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* module 5v2 */
.module5v2__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(8, 4rem);
}

.m5v2__h2__text-background__1,
.m5v2__tile__1,
.m5v2__module5__text,
.m5v2__pic__1 {
    border: solid 5px #0d0d0d;
}

.m5v2__h2__text-background__1,
.m5v2__module5__text {
    border-left: solid 10px #0d0d0d;
}

.m5v2__tile__1,
.m5v2__pic__1 {
    border-right: solid 10px #0d0d0d;
}



.m5v2__h2__text-background__1,
.m5v2__tile__1 {
    background-color: #D93611;
}


.m5v2__h2__1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 15;
}


.m5v2__h2__text-background__1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m5v2__tile__1 {
    grid-column-start: 16;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 4;
}


.m5v2__module5__text {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 4rem;
}

.m5v2__pic__1 {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 4;
    grid-row-end: 9;

}

.m5v2__pic__1>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* module 5v3 */
.module5v3__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(11, 4rem);
}

.m5v3__h2__text-background__1,
.m5v3__h2__text-background__2,
.m5v3__pic__1,
.m5v3__pic__2,
.m5v3__module5__text {
    border: solid 5px #0d0d0d;
}

.m5v3__h2__text-background__1,
.m5v3__pic__1,
.m5v3__pic__2 {
    border-left: solid 10px #0d0d0d;
}

.m5v3__h2__text-background__2,
.m5v3__module5__text {
    border-right: solid 10px #0d0d0d;
}




.m5v3__h2__text-background__1,
.m5v3__h2__text-background__2 {
    background-color: #2A4B8C;
}


.m5v3__h2__1 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m5v3__h2__2 {
    grid-column-start: 8;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 4;
}


.m5v3__h2__text-background__1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
}

.m5v3__h2__text-background__2 {
    position: relative;
    grid-column-start: 8;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 4;
}


.m5v3__pic__1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 8;

}

.m5v3__pic__1>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m5v3__pic__2 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 12;

}

.m5v3__pic__2>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.m5v3__module5__text {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 4;
    grid-row-end: 12;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem 4rem;
}



/* module 4 */
.module4__container {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-template-rows: repeat(4, 4rem);
}

.m4__tile__1,
.m4__tile__2,
.m4__tile__3,
.m4__tile__4,
.m4__tile__5,
.m4__tile__6 {
    border: solid 5px #0d0d0d;
}

.m4__tile__1 {
    border-left: solid 10px #0d0d0d;
}

.m4__tile__5,
.m4__tile__6 {
    border-right: solid 10px #0d0d0d;
}



.m4__tile__1,
.m4__tile__4 {
    background-color: #2A4B8C;
}


.m4__tile__1 {
    border-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.m4__tile__2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.m4__tile__3 {
    border-bottom: 0px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
}

.m4__tile__4 {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m4__tile__5 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}

.m4__tile__6 {
    border-bottom: 0px;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 5;
}